a{ 
    text-decoration: none;
    text-transform: capitalize;
}
span{
    color: $main-color;
   
}
h2{
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 600;
    padding-bottom: 5px;
    @media screen and (max-width: 450px) {
      font-size: 1.4rem;
    }

    
}
h3 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8;
    padding-bottom: 20px;
    margin-top: 0.8rem;
  
   
  }
  p {
    font-size: 1.6rem;
   
  }
  .btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color: $main-color;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.5rem $main-color;
    font-size: 1.6rem;
    color: $with-color;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    border: 0.2rem solid transparent;
    max-width: 40%;
    @media screen and (max-width: 800px) {
      max-width: 60%;
    }
    @media screen and (max-width: 670px) {
      max-width: 70%;
    }
    @media screen and (max-width: 580px) {
      font-size: 1rem;
    }

    &:hover {
      background-color: transparent;
      color: $main-color;
      border-color: $main-color;
    }
  }
